{% extends "base.html" %}

{% load staticfiles i18n %}

{% block page_title %}
    Amigo - Privacy
{% endblock page_title %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="mb40 mb-xs-24">Privacy<br></h3>
                    <p>
                        We respect the privacy of our users. By using our website or mobile application, you are accepting this Privacy Policy. If you have any questions about our privacy practices, please reach out to us.<br></p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="pt0 atext">
        <div class="container">
            <div class="mb72">
                <h3>Information we receive and how it is used</h3>
                <p>Information we receive about you<br>
                We receive a number of different types of information about you, including:</p>
                <h4>Registration information:</h4>
                <ul>
                    <li>When you sign up for Amigo, you are required to sign in with your phone number to access logged in features.</li>
                    <li>Your phone number is required and will be used to send to invite your friends to your event via SMS.</li>
                </ul>
                <h4>Information you choose to share:</h4>
                <ul>
                    <li>Your information also includes the information you choose to share on Amigo, such as when you create an invitation, upload a photo, or rsvp to a friend's event.</li>
                </ul>
                <h4>Information others share about you</h4>
                <p>We receive information about you from your friends and others, such as when they upload your contact information, or post a photo of you. When people use Amigo, they may store and share information about you and others that they have, such as when they create and manage their invites and contacts.</p>
                <h4>Information about others</h4>
                <p>We may also collect and store personal information about other people that you provide to us, including email address, telephone number, name and/or other information. If you use our app to send other people (for example, friends, relatives, colleagues, etc.) an invitation, or other communications through our system, we may store your personal information, and the personal contact information of each such recipient. We use guests' contact information to allow them to respond to your Amigo invitation. We may send Reminders to guests, other event related information and we may display their name and photo to other guests of the same event. We also may send post-event communications to the host and guests. Other than as described in this Policy we will not intentionally sell or otherwise disclose guest contact information you submit to any third party.</p>
                <h4>Other information we receive about you</h4>
                <p>We also receive other types of information about you:</p>
                <ul>
                    <li>We receive data about you whenever you use or are running Amigo, such as when you look at an invitation, search for a friend or venue, click on, view or otherwise interact with things when you use the Amigo mobile app or website.</li>
                    <li>When you post or allow access to your photos on Amigo, we may receive additional related data (or metadata), such as the time, date, and place you took the photo.</li>
                    <li>We receive data from or about the computer, mobile phone, or other devices you use to install Amigo apps or to access Amigo, including when multiple users log in from the same device. This may include network and communication information, such as your IP address or mobile phone number, and other information about things like your internet service, operating system, location, the type (including identifiers) of the device or browser you use, or the pages you visit.</li>
                    <li>Cookies. When you visit our website, we may assign your computer one or more cookies to facilitate access to our site and to personalize your online experience. Through the use of a cookie, we also may automatically collect information about your online activity on our site, such as the web pages you visit, the links you click, and the searches you conduct on our site. Most browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies.</li>
                </ul>
                <p>As described in "How we use the information we receive" we also put together data from the information we already have about you, your friends, and others, so we can offer and suggest a variety of services and features. For example, we may make friend suggestions, and recommend a time and venues for an event. We may put together your current city with GPS and other location information we have about you to, for example, tell you which friends are nearby and may be free to meet up, or suggest nearby places or events in which you might be interested. We may also put together data about you to serve you content that might be relevant to you at that time.<br>
                We may provide data to our partners only after we have removed your name and any other personally identifying information from it, or have combined it with other people's data in a way that it no longer personally identifies you.</p>
                <h4>What Personal Information Can I Access?</h4>
                <p>Amigo allows you to access the following information about you for the purpose of viewing, and in certain situations, updating that information and ensuring that it is accurate and complete. You can access this information on the Amigo app by visiting the user profile. This list will change as our Service changes.</p>
                <ul>
                    <li>Name</li>
                    <li>Email address</li>
                    <li>Other User profile information (for example, photo)</li>
                </ul>
                <p>If you have questions about the Personal Information we have collected from you, you can email <a href="mailto:support@amigo.io" target="_top">support@amigo.io</a>.</p>
            </div>
            <div>
                <h3>How we use the information we receive</h3>
                <p>We use the Personal Information you provide in a manner that is consistent with this Privacy Policy. For example, we may use it:</p>
                <ul>
                    <li>to provide the core functionality of the Service (e.g., telling your friends that you invited them to an event);</li>
                    <li>to monitor your use of the Service and improve the user experience;</li>
                    <li>to respond to your comments and inquiries;</li>
                    <li>to communicate with you regarding the Service; and</li>
                    <li>to make suggestions to you and other users on Amigo, such as: suggesting that friends you invite respond to your invite using the Amigo platform, or recommending that friends you invite download the app for a better experience;</li>
                    <li>share information such as your name and attendance status with the organizer of an event you rsvp’d to;</li>
                    <li>communicate with you by email about products or services that may be of interest to you either from us, or our business partners</li>
                    <li>for any other purpose for which the information was provided.</li>
                </ul>
                <p>While you are allowing us to use the information we receive about you, you always own all of your information. Your trust is important to us, which is why we don't share information we receive about you with others unless we have:</p>
                <ul>
                    <li>received your permission;</li>
                    <li>given you notice, such as by telling you about it in this policy; or</li>
                    <li>removed your name and any other personally identifying information from it.</li>
                </ul>
                <p>We store data for as long as it is necessary to provide products and services to you and others, including those described above. Typically, information associated with your account will be kept until your account is deleted. For certain categories of data, we may also tell you about specific data retention practices.</p>
                <h4>With whom we share information</h4>
                <p>We want you to understand when and with whom we may share personal or other information you have provided to us or that we have collected about you or your activities on our web site or while using our services.</p>
                <p>Personal information. We do not share your personal information with others except as indicated below or when we inform you and give you an opportunity to opt out of having your personal information shared. We may share personal information with:</p>
                <ul>
                    <li>Other Users. When an individual invites you to an event, he/she will be able to view your name, profile picture, attendance status and reply.</li>
                    <li>Authorized service providers: We may share your personal information with our authorized service providers that perform certain services on our behalf. These services may include outside vendors to help host our website, serve photos, process payments, analyze data, conduct and publish research, measure the effectiveness of ads, or provide search results. In all of these cases our partners must agree to only use your information consistent with the agreement we enter into with them, as well as this Data Use Policy.</li>
                    <li>Other Situations. We also may disclose your information.</li>
                    <li>In response to a subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we may raise or waive any legal objection or right available to us.</li>
                    <li>When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce our website terms and conditions or other agreements or policies.</li>
                    <li>In connection with a substantial corporate transaction, such as the sale of our business, a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy.</li>
                </ul>
                <p>Any third parties to whom we may disclose personal information may have their own privacy policies which describe how they use and disclose personal information. Those policies will govern use, handling and disclosure of your personal information once we have shared it with those third parties as described in this Privacy Policy. If you want to learn more about their privacy practices, we encourage you to visit the websites of those third parties. These entities or their servers may be located either inside or outside the United States.</p>

                <h4>Control each time you share content on Amigo</h4>
                <p>Whenever you post content (like an event), you can select a specific audience.<br>
                Always think before you post. Just like anything else you post on the web or send in an email, information you share on Amigo can be copied or re-shared by anyone who can see it.<br>
                When you join someone else's event that person can choose to pass on that information to others. For example, if a friend invites you to an event and you rsvp to it, your attendance status and name will be only visible to the organizer of the event on Amigo but he/she could tell other guests and others outside of Amigo that you will be attending.</p>
                <h4>Finding you on Amigo</h4>
                <p>To make it easier for your friends to find and invite you, we allow anyone with your contact information (such as email address, or telephone number) to find you through the Amigo search bar at the top of the event creation pages - even if you have not shared your contact information with them on Amigo.</p>
                <h4>Notifications and Other Messages</h4>
                <p>We may send you notifications and other messages using the contact information we have for you, like your email address, or phone number using controls we provide, such as a control included in the email you receive or in your "Notifications" settings.</p>
                <h4>Exclusions</h4>
                <p>This Privacy Policy does not apply to any Personal Information collected by Amigo other than Personal Information collected through the Service. This Privacy Policy shall not apply to any unsolicited information you provide to Amigo through this Site or through any other means. This includes, but is not limited to, information posted to any public areas of the Site, any ideas for new products or modifications to existing products, and other unsolicited submissions. All such information shall be deemed to be non-confidential and Amigo shall be free to reproduce, use, disclose, distribute and exploit it without limitation or attribution.</p>
                <h4>Deleting your account</h4>
                <p>If you want to stop using your account, you can delete it. When you delete your account, it is permanently deleted from Amigo. It typically takes about one month to delete an account. You should only delete your account if you are sure you never want to reactivate it. You can delete your account by emailing us at <a href="mailto:support@amigo.io" target="_top">support@amigo.io</a>.<br>
                Certain information is needed to provide you with services, so we only delete this information after you delete your account. Even after we delete your account, copies of certain information may remain viewable elsewhere, to the extent it has been shared with others, it was otherwise distributed pursuant to your privacy settings, or it was copied or stored by other users.</p>
                <h4>Children's information</h4>
                <p>Amigo does not knowingly collect Personal Information from children under the age of 13. If you are under the age of 13, please do not submit any Personal Information through the Service. We encourage parents and legal guardians to monitor their children's Internet usage and to help enforce our Privacy Policy by instructing their children never to provide Personal Information on this Service. If you have reason to believe that a child under the age of 13 has provided Personal Information to Amigo through this Service, please contact us and we will endeavor to delete that information from our databases.</p>
                <h4>Links to other websites</h4>
                <p>This Service may contain links to other websites not operated or controlled by Amigo. The policies and procedures we describe here do not apply to these third party sites, nor do the links from this Service imply that Amigo endorses or has reviewed these third party sites. We suggest contacting those sites directly for information on their privacy policies.</p>
                <h4>Security and bugs</h4>
                <p>We take appropriate security measures to help keep your personal information safe from unauthorized access and disclosure. We want you to feel confident using our app and website. However, no system can be completely secure. Therefore, although we take steps to secure your information, we do not promise, and you should not expect, that your personal information, searches, or other communications will always remain secure. Users should also take care with how they handle and disclose their personal information and should avoid sending personal information through insecure email. We try to keep Amigo up, bug-free and safe, but can't guarantee any part of our service.</p>
                <h4>Change of Control</h4>
                <p>If the ownership of our business changes, we may transfer your information to the new owner so they can continue to operate the service. But they will still have to honor the commitments we have made in this Data Use Policy.<br>
                Changes to Amigo's Privacy Policy<br>
                We may occasionally modify this Privacy Policy. When we do, we will let you know by changing the "last updated" date within this Privacy Policy, and your continued use of the Service shall indicate your agreement with the terms of the revised Privacy Policy.</p>
                <h4>Your California privacy rights</h4>
                <p>California law permits residents of California to request certain details about what personal information a company shares with third parties for the third parties' direct marketing purposes. Amigo does not share your information with third parties for the third parties' own and independent direct marketing purposes unless we receive your permission.</p>
                <h4>International Users</h4>
                <p>If you are located outside of the United States, please note that this site is hosted on our computer servers in the United States. Therefore, your information may be processed and stored in the United States. As a result, United States federal and state governments, courts, or law enforcement or regulatory agencies may be able to obtain disclosure of your information through laws applicable in the United States. Your use of this site or the Service or your submission of any Personal Information to us will constitute your consent to the transfer of your Personal Information outside of your home country, including the United States, which may provide for different data protection rules than in your country.</p>
                <h4>Contact us with questions or concerns</h4>
                <p>If you have any questions or concerns regarding privacy using the Service, please send a detailed message to: <a href="mailto:support@amigo.io" target="_top">support@amigo.io</a>. We will make every effort to resolve your concerns.</p>
            </div>
        </div>
    </section>

    <section class="bg-primary get-started-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="mb40 mb-xs-24">Let's get started<br></h3>
                    <p class="lead">
                        Amigo is the simplest way to meet up with friends. Invite them to a last minute<br>
                        dinner, or accept a friend's invite to a show tomorrow.<br></p>
                    <div class="mt96 mt-xs-48 text-center">
                        <div class="hidden-xs">
                            <a class="btn btn-dark app-store-btn" href="https://itunes.apple.com/app/amigo/id1087152125" target="_blank">AppStore</a>
                            <a class="btn btn-dark btn-modal google-play-btn" modal-link="android_notification">Google Play</a>
                        </div>
                        <div class="visible-xs">
                            <a class="btn-icon" href="https://itunes.apple.com/app/amigo/id1087152125" target="_blank"><i class="amigo-iphone"></i></a>
                            <a class="btn-icon btn-modal" modal-link="android_notification"><i class="amigo-google-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}